.new-incident-container {
  width: 100%;
  max-width: 1120px;
  height: 100%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.new-incident-container .content {
  width: 100%;
  padding: 96px;
  background-color: #ffd836;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-incident-container .content form {
  display: flexbox;
  width: 100%;
}

.new-incident-container .content form h1 {
  margin: 32px;
  font-size: 32px;
}

.new-incident-container .content form input {
  width: 100%;
  margin: 12px;
  background-color: #fff;
}

.new-incident-container .content form row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.new-incident-container .content form row input {
  width: 100%;
}

.new-incident-container .content form row input .person {
  width: 60%;
}

.new-incident-container .content form row button {
  margin: 12px;
  width: 30%;
}

.new-incident-container .content form row button .person {
  width: 100%;
  background: #000;
  border: 0;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  transition: filter 0.2s;
}
